body {
  max-height: 100vh;
}

/*navigation*/
h1 {
  margin: 10px;
  margin-right: 0;
  font-size: 2em;
  display: inline;
}

h2 {
  font-size: 1.3em;
  margin-bottom: 5px;
}

nav h1,
nav p,
.buffer {
  color: white;
}

a {
  text-decoration: none;
}

#loader {
  display: none;
  display: block;
  width: 250px;
  margin: 0 auto;
  margin-top: 50px;
}
/*ul {
  float: right;
  margin-right: 0;
  margin-left: 0;
  padding-left: 0;
  text-align: center;
}*/
/*Dropdown elements (BTC, ETH, LTC)*/
ul[role="menubar"] ul[role="menu"] li a {
  max-width: 83px;
  margin-left: -10px;
}

li {
  display: inline-block;
}

ul > li:last-of-type {
  /*	padding-right: 0.25em;
*/
}

.buffer {
  padding: 1em;
}

nav {
  background-color: black;
  width: 100%;
  margin: 0 auto;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-between;
}

.nav-first-half, .nav-second-half {
  width: 49%;
}

.first-half {
  margin-left: 1.5%;
}
.nav-second-half {
  margin-right: 1.5%;
  display: flex;
  justify-content: flex-end;
}

.select {
  font-size: 1.5em;
}


.title {
  display: inline-block;
}

.select-exchange {
  display: flex;
  justify-content: space-between;
  align-items: center; /* <---- NEW    */
}

.landing-page {
  height: calc(100vh - 57.3333px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 96.5%;
  margin: 0 auto;

}

.red {
  color: red;
}

.green {
  color: green;
}

.track-cryptos, .ask-bid {
  background-color: black;
  padding: 0.7% 0;
  margin: 0 auto;
  width: 100%;
}

.logo-ul {
  width: 100%;
  background-color: white;
  display: flex;
  margin: 1.25% auto;
  padding: 5% 0;
  justify-content: space-around;
  flex-wrap: wrap;
}

.logo-li {
  padding: 0;
  vertical-align: middle;
}

.logo {
  height: 65px;
  vertical-align: middle;
}

.poloniex, .bitfinex {
  width: 256px;
}

.logo-section {

}

/*.gdax {
  height: 65px;
}*/
/*
article {
  height:;
  width: 94.1%;
  background-color: black;
  margin: 0 auto;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}*/

.ask, .bid, .track {
  text-align: center;
  margin: 0 auto;
  font-size: 250%;
  color: white;
  width: 100%;
}

.graph-example {
  width: 75%;
  margin: 0 auto;
}

.landing-page-header {
  color: white;
  margin: 0 auto;
  width: 96.5%;
}

.box-container {
  display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
  justify-content: space-evenly;
  align-items: center;
}

.box-1, .box-2, .box-3 {
  width: 30%;
  background-color: white;
}

.box-container p {
  padding: 1.25em;
}





















/*------------Content---------------*/
.content {
  margin: 0 auto;
  margin-top: 1.5%;
  flex-shrink: 1;
}

.header {
  display: block;
  margin: 0 auto;
}

#chart {
  margin: 0 auto;
  width: 100%;
}

.c3 svg {
  margin-left: -15px;
}

.exchange {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  outline: 2px solid gray;
  padding: 2em;
  margin-bottom: 1.5em;
}

.exchange p {
  padding: 0.5em;
  padding-left: 0;
}

.left {
  float: left;
  width: 40%;
}

.right {
  float: right;
  width: 40%;
}

.clearfix {
  clear: both;
}

.exchange-prices-header {
  display: none;
}


main {
  background-image: url('img/background.jpg');
  background-size: cover;
}

.results-page {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 75%;
  margin: 0 auto;
  min-height: 100vh;
  justify-content: center;
}

.exchange {
  margin: 0 auto;
  width: 98.8%;
}

/*************footer***************/
footer {
  background-color: black;
}

footer > .nav-container {
  width: 94%;
  margin: 0 auto;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
}

body > footer > div > ul {
  margin: 0 auto;
}

footer > .nav-container p {
  color: white;
}
